.section {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;

    h2 {
      font-family: 'Poppins', 'serif';
      font-size: 1.6rem;
      font-weight: 600;
    }

    .titleLightMode {
      color: #000000;
    }

    .titleDarkMode {
      color: #eaebef;
    }
  }

  .stationButtonsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.3rem, 1fr));
    gap: 1.4rem;
    justify-content: space-between;

    .stationButton {
      background-color: #fafafa;
      border: 1.5px solid #eaebef;
      border-radius: 0.8rem;
      min-height: 0;
      min-height: 7.3rem;
      font-family: 'Space Mono', 'monospace';
      font-size: 1.3rem;
    }

    .stationButtonDarkMode {
      background-color: #303030;
      border: 1px solid #4f4f4f;
      color: #ffffff;
    }

    .activeButtonLightMode {
      border: 1.5px solid #000000;
      font-weight: 700;
    }

    .activeButtonDarkMode {
      border: 1.5px solid #ffffff;
      font-weight: 700;
    }
  }
}
