.section {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;

    .headerAndToggleContainer {
      display: flex;
      gap: 0.8rem;

      h2 {
        font-family: 'Poppins', 'serif';
        font-size: 1.6rem;
        font-weight: 600;
      }

      .ambiencesContainerToggle {
        align-items: center;
        background-color: #fafafa;
        border: 1px solid #eaebef;
        border-radius: 10rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-right: auto;
        width: 2.4rem;
      }

      .titleLightMode {
        color: #000000;
      }

      .titleDarkMode {
        color: #eaebef;
      }
    }
  }

  .stationButtonsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.3rem, 1fr));
    gap: 1.4rem;
    justify-content: space-between;

    .stationButton {
      background-color: #fafafa;
      border: 1px solid #eaebef;
      color: #000000;
      border-radius: 0.8rem;
      min-height: 0;
      min-height: 7.3rem;
      font-family: 'Space Mono', 'monospace';
      font-size: 1.3rem;
      transition: border 0.2s ease-out;
    }

    .stationButton:hover {
      border: 1px solid #b3b2b2;
    }

    .stationButtonDarkMode {
      background-color: #303030;
      border: 1px solid #4f4f4f;
      color: #ffffff;
    }

    .activeButtonLightMode,
    .activeButtonLightMode:hover {
      border: 1.5px solid #000000;
      font-weight: 700;
    }

    .activeButtonDarkMode,
    .activeButtonDarkMode:hover {
      border: 1.5px solid #ffffff;
      font-weight: 700;
    }
  }
}
