.lofiBeatsSection {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .lofiBeatsHeader {
    display: flex;
    justify-content: space-between;

    h2 {
      font-family: 'Poppins', 'serif';
      font-size: 1.6rem;
      font-weight: 600;
    }

    .volumeSliderComponent {
      display: flex;
      align-items: center;

      gap: 1.2rem;

      .volumeIconContainer {
        display: flex;
        align-items: center;
      }

      .volumeSlider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        accent-color: green;
        border-radius: 0.8rem;
        height: 1.8rem;
        width: 15rem;
        outline: none;
      }

      .volumeSlider::-webkit-slider-thumb {
        width: 1.8rem;
        -webkit-appearance: none;
        appearance: none;
        height: 1.8rem;
        background-color: #ffffff;
        border-radius: 100rem;
        border: 0.3rem solid black;
      }
    }
  }

  .lofiDropdownSection {
    display: flex;
    gap: 0.8rem;

    .lofiDropdownContainer {
      width: 100%;

      .lofiBeatsDropdown {
        appearance: none;
        display: none;
        width: 100%;
        padding: 0.95rem 1rem;
      }

      .lofiCustomSelect {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        background-color: #fafafa;
        border: 1px solid #eaebef;
        border-radius: 0.8rem;
        padding: 0.95rem 1rem;
        font-family: 'Space Mono', 'monospace';
        font-size: 1.3rem;

        .chevronDownIcon {
          margin-left: auto;
        }
      }
    }

    .dicesButton {
      background-color: #fafafa;
      border: 1px solid #eaebef;
      border-radius: 0.8rem;
      min-width: 4rem;
    }
  }
}
