.toggleContainer {
  border-radius: 10rem;
  display: flex;
  gap: 0.8rem;
  padding: 0.8rem;
  margin-top: auto;

  .lightModeButton,
  .darkModeButton {
    background-color: transparent;
    border: none;
    border-radius: 10rem;
    display: flex;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  }

  .darkModeButton {
    svg {
      path {
        stroke: #6c6b6b;
        transition: stroke 0.2s ease-out;
      }
    }
  }

  .darkModeButton:hover {
    svg {
      path {
        stroke: #000000;
      }
    }
  }

  .lightButtonLightActive {
    background-color: #e6e6e6;
  }

  .lightButtonDarkActive {
    svg {
      path {
        stroke: #8d8d8d;
        transition: stroke 0.2s ease-out;
      }
    }
  }

  .lightButtonDarkActive:hover {
    svg {
      path {
        stroke: #ffffff;
      }
    }
  }

  .darkButtonDarkActive {
    background-color: #595959;
    color: #ffffff;

    svg {
      path {
        stroke: #ffffff;
      }
    }
  }

  .darkButtonDarkActive:hover {
    svg {
      path {
        stroke: #ffffff;
      }
    }
  }
}

.containerLightMode {
  background-color: #ffffff;
}

.containerDarkMode {
  background-color: #303030;
}
