.toggleContainer {
  background-color: #ffffff;
  border-radius: 10rem;
  display: flex;
  gap: 0.8rem;
  padding: 0.8rem;
  margin-top: auto;

  .lightModeButton,
  .darkModeButton {
    border: none;
    border-radius: 10rem;
    display: flex;
    padding: 0.8rem;
  }

  .darkModeButton {
    background-color: transparent;
  }
}
