.button {
  background-color: #202020;
  border: none;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  font-family: 'Space Mono', 'monospace;';
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.05rem;
  cursor: pointer;
}
