.volumeSlider {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .volumeIconContainer {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      path {
        transition: stroke 0.2s ease-out;
      }
    }
  }

  .volumeIconContainerDarkMode {
    svg {
      path {
        stroke: #ffffff;
      }
    }
  }

  .volumeSlider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    border-radius: 0.8rem;
    height: 1.8rem;
    width: 100%;
    max-width: 12.4rem;
    outline: none;

    @media screen and (min-width: 600px) {
      max-width: 15rem;
    }
  }

  .volumeSlider::-webkit-slider-thumb {
    width: 1.8rem;
    -webkit-appearance: none;
    appearance: none;
    height: 1.8rem;
    background-color: #ffffff;
    border-radius: 100rem;
    border: 0.4rem solid black;
  }

  .volumeSliderDarkMode::-webkit-slider-thumb {
    border: 0.4rem solid #e4e4e4;
    background-color: #373737;
  }
}
